
section{
    margin: 3px 23px;
display: flex;
flex-direction: column;

}
body{
    margin: 0;
    padding: 0;
background-image: url("yy.jpg");
color: white;

}
.navigation{
    align-items: center;
    font-size: 25px;
    display: flex;
    color: white;

li{
    list-style: none;
    padding:34px 23px;
}
    border: 2px solid red;
    justify-content: center;

}
span{
    color: #f9004d;
}
a{
    color: white;
}